.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    height: 439px;
    background: linear-gradient(rgba(18, 17, 61, 1), rgba(7, 2, 50, 1));
    border-radius: 40px 40px 0 0;
    padding: 32px 24px;
    box-sizing: border-box;
    transition: transform 700ms ease-in-out, border 700ms linear;
    cursor: pointer;
    transform: scale(1);
}


.card:hover {
    transform: scale(1.10);  /* Zooms in the card by 10% */
}

.card {
    width: 367px;  
}


.default, .variant2, .variant4 {
    border: 3px solid transparent;
}

.default {
    border-top: 3px solid rgba(152, 95, 241, 1); /* Purple gradient start color */
}

.variant2 {
    border-left: 3px solid rgba(48, 35, 185, 1); /* Blue gradient end color */
}

.variant4 {
    border-right: 3px solid rgba(152, 95, 241, 1); /* Purple gradient start color */
}


.cardContent {
    flex: 1; 
}


@media (min-width: 768px) {

    .card:hover {
        transform: scale(1.05);  
    }

}



  