@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Workbench&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Importing Proxima Nova SemiBold */
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 600; /* Semi-bold */
  src: url('/fonts/proxima-nova/ProximaNova-Semibold.otf') format('opentype');
}
.textProxima {
  font-family: 'Proxima Nova', sans-serif; 
  font-weight: 600;
}


body {
  background-image: url('/assets/Background.png');
  background-repeat: none;
  background-position: center;
  background-size: cover;
}

.bgimage{
  background-image: url('/assets/Herobg.png');
  background-repeat: none;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.bgsection{
  background-image: url('/assets/BgEllipse.png');
  background-repeat: none;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}

.InnovationImg2{
  margin-top: 190px;
z-index: -1;
height: fit-content;
width: 100%;
}

.InnovationImg{
  height: 100%;
  background: linear-gradient(
    to bottom, /* Adjust the direction if needed */
    rgba(1, 0, 31, 0.57),
    rgba(1, 0, 31, 1),
    rgba(1, 0, 31, 0.43),
    rgba(1, 0, 31, 0.43),
    rgba(1, 0, 31, 0.6433),
    rgba(1, 0, 31, 0.99),
    rgba(1, 0, 31, 1)
  );
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
} 
.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


/* In your global stylesheet (e.g., styles/globals.css) */
@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proxima-nova-2/ProximaNova-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proxima-nova-2/ProximaNova-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

.body-text {
  font-family: 'Proxima Nova';
  font-weight: 400;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 10; 
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}


.gradient-text {
  background: linear-gradient(
    to right,
    rgba(182, 46, 167, 1),  
    rgba(112, 17, 153, 1), 
    rgba(182, 46, 167, 1),  
    rgba(112, 17, 153, 1)       
  );
  background-size: 200% 100%;
  background-clip: text;
  animation: gradient 3s linear infinite;
}

.gradient-text2 {
  background: linear-gradient(
    to right,
    rgba(61, 49, 193, 1),
    rgba(152, 95, 241, 1),
    rgba(61, 49, 193, 1),
    rgba(152, 95, 241, 1) 
  );
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 5s linear infinite;
}

@media (min-width: 768px) { /* or whatever your 'md' breakpoint is */
  .md\:col-span-3 {
    grid-column: span 3 / span 3;
  }
}

/* ButtonStyles.css */
.buttonContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 22px;
  border-radius: 9999px;
  font-weight: 500;
  font-size: 16px;
  color: white;
  background: linear-gradient(to right, rgba(152, 95, 241, 1), rgba(48, 35, 185, 1));
  box-shadow: 0 4px 14px 0 rgba(0, 118, 255, 0.39);
  transition: all 200ms ease-linear;
  cursor: pointer;
  overflow: hidden;
  width: 155px; /* Set a specific width or make it auto */
  height: 47px; /* Set a specific height */
}

.buttonContainer:hover {
  box-shadow: 0 6px 20px rgba(0, 118, 255, 0.23);
  background: linear-gradient(to right, rgba(79, 12, 183, 1), rgba(4, 2, 22, 1));
}


.star {
  position: absolute;
  color: white;
  transition: transform 300ms ease-in-out;
  cursor: pointer; /* Change cursor to pointer on hover */
}
.buttonContainer:hover .star {
  animation: sparkle 1.5s infinite alternate ease-in-out;
  transform: scale(1.2);
}

.star1 {
  top: 50%;
  left: 21%;
  font-size: 10px;
  transform: scale(1);
}

.star2 {
  top: 29%;
  left: 24%;
  font-size: 7px;
  transform: scale(1);
}

.star3 {
  top: 30%;
  left: 25%;
  font-size: 15px;
  transform:scale(1);
}

@keyframes sparkle {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.4); }
}


@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}



@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.gradient-mask {
  position: relative;
  width: 500px; 
  height: 600px; 
  background: linear-gradient(
    to right, 
    rgba(250, 194, 118, 1), 
    rgba(208, 98, 179, 1), 
    rgba(76, 87, 207, 1)
  );
  background-size: 300% 300%;
  animation: moveGradient 4s linear infinite;
  -webkit-mask: url('/assets/Group.png') center / contain no-repeat;
  mask: url('/assets/Group.png') center / contain no-repeat;
  margin-left: auto;
  height: 861px;
  width: 649px;
}


@keyframes moveBlob {
  0%, 100% {
    top: 0;
    left: 100px;
    transform: translate(0, 0);
  }
  50% {
    transform: translateX(60%) translateY(70%);
  }
}

.blob {
  position: absolute;
  margin-left: 33%;
  z-index: 0;
  top: 0;
  left: 100px;
  opacity: 0.4;
  animation: moveBlob 4s ease-in-out infinite; /* Adjust the duration as needed */
}


@media (max-width: 768px) {
  .gradient-mask {
    width: 250px; 
    height: 300px; 
  }
}

